@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&family=Roboto:wght@100&family=Zen+Kurenaido&display=swap');
* {
    margin: 0;
    font-family: monospace;
}

:root {
    --color1: #22577A;
    --color2: #38A3A5;
    --color3: #57CC99;
    --color4: #80ED99;
}

::selection {
    color: var(--color1);
    background: var(--color4);
}

hr {
    margin: 30px 5%;
    background-color: var(--color4);
    border: 2px solid var(--color4);
    border-radius: 10px 10px 10px 10px;
}

p {
    padding: 10px;
    font-size: 1.5em;
}

header {
    position: sticky;
    top: 0;
    z-index: 10000;
}

footer {
    background: linear-gradient(90deg, var(--color2), var(--color1));
    text-align: center;
    padding: 30px;
}

.info {
    display: flex;
    flex-flow: column nowrap;
    margin: 0 10%;
    justify-content: center;
    align-items: center;
}

.menubar {
    display: grid;
    gap: 0 0;
    /* Make sure the menu bar fills the entire top part of the screen */
    align-items: stretch;
    background: linear-gradient(270deg, var(--color2), var(--color1));
    /* background-color: var(--color1); */
}

.menubar-title {
    padding: 10px;
    /* Have the title part of the menu bar take up all left over room */
    flex: 1;
    color: var(--color4);
    font-size: 2.5em;
}

.menubar-buttons {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(0, 1fr));
    /* margin-bottom: 5px; */
}

.menubar-button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    font-size: 2em;
    text-align: center;
    transition: background-color 0.5s ease;
    background-color: var(--color3);
    font-weight: bolder;
    height: 50px;
}

.menubar-button:hover {
    background-color: var(--color4);
}

.search-bar {
    display: grid;
    grid-template-columns: 3fr 1fr;
}

.search-bar>* {
    margin: 10px;
}

.search-bar>p {
    background-color: var(--color4);
    align-self: center;
}

.search-bar>.menubar-button {
    height: min-content;
}

.dropdown-menus {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.dropdown-menus>* {
    background-color: var(--color4);
    margin: 10px;
    margin-bottom: 0;
    text-align: center;
}

.interview {
    margin: 0 10%;
}

.section-link {
    display: block;
    position: relative;
    top: -55px;
    visibility: hidden;
}

.section-title {
    text-align: center;
    font-size: 2em;
    margin: 10px;
}

.section-title h3 {
    color: var(--color2);
}

.section-image {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    /* height: 95vh; */
    height: 85vh;
    padding: 0 10%;
    text-align: center;
    font-size: 4em;
    color: white;
    background-color: rgba(0, 0, 0, 0.4);
    background-blend-mode: multiply;
    /* background-image: var(--background); */
    background-position: center;
    background-size: cover;
}

a:link {
    color: var(--color1);
    text-decoration: none;
}

a:visited {
    color: var(--color1);
    text-decoration: none;
}

a:focus {
    color: var(--color2);
    text-decoration: underline;
}

a:hover {
    color: var(--color2);
    text-decoration: underline;
}

a:active {
    color: white;
    text-decoration: underline;
}

.socials {
    display: flex;
    flex-flow: row wrap;
    gap: 10px;
    justify-content: center;
    align-items: center;
    margin: 30px 5%;
}

.socials-links {
    display: flex;
    flex-flow: row nowrap;
    gap: 10px;
}

.socials-link {
    display: flex;
    width: max(75px);
    aspect-ratio: 1;
    /* transition: border-width 0.5s ease;
    border-width: 0px;
    border-style: solid;
    border-color: var(--color4);
    border-radius: 100%; */
}

.socials-link img {
    width: 100%;
}

.graph {
    margin: 0 10%;
}

.graph>img {
    display: flex;
    width: 100%;
    justify-self: center;
    border-width: 10px;
    border-style: solid;
    border-image: linear-gradient(90deg, var(--color4), var(--color2)) 1;
}