@font-face {
    font-family: 'DogicaPixel';
    src: url('../fonts/Dogica\ Webfont/dogicapixel-webfont.woff2') format('woff2'), url('../fonts/Dogica\ Webfont/dogicapixel-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'RetroComputer';
    src: url('../fonts/RetroComputer\ Webfont/retro_computer_personal_use-webfont.woff2') format('woff2'), url('../fonts/RetroComputer\ Webfont/retro_computer_personal_use-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
}

body {
    display: grid;
    grid-template-areas: "header" "oaktree" "landscape" "materials" "footer";
    grid-template-rows: 1fr 9fr 9fr 9fr 3fr;
    height: 100vh;
    color: #FFFFFF;
    font-family: 'RetroComputer';
    background-color: #35363D;
    line-height: 20px;
}


/* --- HEADER ----- */

header {
    grid-area: "header";
    display: grid;
    grid-template-rows: 100%;
    grid-template-areas: "title" "creator";
    grid-template-columns: 3fr 2fr;
    padding: 5px 80px;
    align-items: center;
    background-color: #686868;
}

header #title {
    grid-area: "title";
    display: inline-block;
    line-height: 30px;
}

header #title img {
    width: 40px;
    vertical-align: middle;
    transform: translateY(5px);
}

header #creator {
    grid-area: "creator";
    text-align: right;
}

@media screen and (max-width: 800px) {
    header {
        padding: 5px 40px;
    }
}


/* --- THE OAK TREE ----- */

.oaktree {
    grid-area: "oaktree";
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    gap: 20px;
    padding: 40px 80px;
}

.oaktree #desc {
    background-color: #686868;
    padding: 40px;
}

.oaktree #desc p {
    font-family: 'DogicaPixel';
    font-size: small;
    overflow: hidden;
}

.oaktree #desc h2 {
    padding-bottom: 40px;
}

.oaktree #image {
    display: flex;
    align-items: center;
    justify-content: center;
    outline: 10px solid #FFFFFF;
    outline-offset: -10px;
    padding: 80px;
    background-image: linear-gradient(to bottom right, #E8FDF5, #244D3E);
}

.oaktree #image img {
    width: 100%;
}

@media screen and (max-width:1200px) {
    .oaktree {
        grid-template-rows: auto auto;
        grid-template-columns: auto;
    }
    .oaktree #image {
        height: fit-content;
    }
}

@media screen and (max-width: 800px) {
    .oaktree {
        padding: 40px 20px;
    }
}


/* --- LANDSCAPE ----- */

.landscape {
    grid-area: "landscape";
    width: 100%;
}


/* --- MATERIALS ----- */

.materials {
    grid-area: "materials";
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 20px;
    padding: 40px 80px;
}

.materials div {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    gap: 20px;
}

.materials div #desc {
    display: block;
    font-family: 'DogicaPixel';
    font-size: small;
    overflow: hidden;
    background-color: #686868;
    padding: 40px;
}

.materials div #image {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    text-align: center;
    background-color: #244D3E;
    outline: 10px solid #FFFFFF;
    outline-offset: -10px;
    padding: 40px;
}

.materials div #image img {
    width: 60%;
    align-self: center;
}

@media screen and (max-width:1400px) {
    .materials {
        grid-template-columns: auto;
        grid-template-rows: 1fr 1fr 1fr 1fr;
    }
}

@media screen and (max-width: 800px) {
    .materials {
        grid-template-columns: auto;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        align-items: center;
    }
    .materials div {
        grid-template-columns: auto;
        grid-template-rows: auto auto;
        gap: 0px;
    }
    .materials div #image {
        height: fit-content;
        row-gap: 20px;
    }
}


/* --- FOOTER ----- */

footer {
    grid-area: "footer";
    display: grid;
    grid-template-areas: "coolright . copyright";
    grid-template-columns: 3fr 4fr 3fr;
    grid-template-rows: auto;
    align-items: center;
    background-image: url('../images/trees.jpg');
    background-position: center;
    background-size: cover;
    border-top: 10px solid #FFFFFF;
    line-height: 40px;
    padding: 80px;
}

footer #coolright {
    grid-area: "coolright";
    grid-column: 1/span 1;
}

footer #copyright {
    grid-area: "copyright";
    grid-column: 3/span 1;
    text-align: right;
}

@media screen and (max-width:800px) {
    footer {
        grid-template-areas: "coolright" "copyright";
        grid-template-rows: 1fr 1fr;
        grid-template-columns: auto;
        padding: 40px;
    }
    footer #coolright {
        grid-column: 1/span 1;
    }
    footer #copyright {
        grid-column: 1/span 1;
    }
}