:root {
    --color1: #7A2240;
    --color2: #A53886;
    --color3: #B857CC;
    --color4: #B680ED;
}

.project {
    display: flex;
    flex-flow: column nowrap;
    gap: 10px;
}

.project-title-image {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    height: 95vh;
    text-align: center;
    font-size: 4em;
    color: white;
    /* background-color: rgba(0, 0, 0, 0.4); */
    background-blend-mode: multiply;
    /* background-image: var(--background); */
    background-position: center;
}

.project-image {
    display: flex;
    justify-self: center;
    width: 100%;
    border-width: 10px;
    border-style: solid;
    border-image: linear-gradient(90deg, var(--color4), var(--color2)) 1;
}

.project-screenshots {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(0, 1fr));
    padding: 0 20px;
    gap: 30px;
}

.project-info {
    padding: 0 10%;
}

.project-video {
    display: flex;
    margin: 0 10%;
    border-width: 10px;
    border-style: solid;
    border-image: linear-gradient(90deg, var(--color4), var(--color2)) 1;
}

.project-video>iframe {
    flex-grow: 1;
    aspect-ratio: calc(1920/1080);
}